<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
    akka      
    {
      actor 
      {
          serializers 
          {
            hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
          }
          serialization-bindings 
          {
            "System.Object" = hyperion
          }
      }
    } 
    ]]>
    </hocon>
  </akka>
</configuration>